
<div class="row">
        <div class="burgers col-12">
            <ul>
                {{#each burger}}
                {{#unless this.devoured}}
                    <div class="showBurger"> <!-- bootstrap card? -->
                        {{this.id}}. {{this.burger_name}}
                            <form action="update/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="1">
                            <button type="submit" class="btn-success btn btn-lg">Devour Burger</button>
                            </form>
                    </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <!-- shows burgers 'devoured' here -->



</div>