
.bigText {
    text-align: center;
    color: blue;
}

.smallText {
    text-align: center;
    color: purple
}

.addBurger {
    margin-left: auto;
    margin-right: auto;
}

.burgerMan {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

body {
    background-color: yellow;
}

.moveMe {
    margin-left: auto;
    margin-right: auto;
}

.smallTexT2 {
    color: purple;
}
